@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-root.MuiOutlinedInput-root input, .MuiInputLabel-root.MuiInputLabel-formControl, .MuiInputBase-formControl.MuiInputBase-sizeSmall {
    font-size: 13px;
}

.MuiInputBase-formControl.MuiInputBase-sizeSmall {
    max-height: 34.25px;
    height: 34.25px;
}